@font-face {
	font-family: "Montserrat";
	src: 
    local("Montserrat Regular"),
    local("Montserrat-Regular"),
    url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"),
    url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src:
    local("Montserrat Bold"),
    local("Montserrat-Bold"),
    url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"),
    url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

:root {
    --font-montserrat: "Montserrat", sans-serif;

    --dark: #2B3541;
    --gray: #F3F3F3;
    --yellow: #FBF138;
    --light: #FEFCFE;
    --gradient: linear-gradient(180deg, #fbf138 0%, rgba(253, 249, 182, 0.45) 100%);

    --tr: 0.3s;
}

body {
    font-family: var(--font-montserrat);
    font-size: 18px;
    color: var(--dark);
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--tr);
}

.main {
    padding-top: 35px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border: solid 1px var(--light);
}

.header-wrap {
    display: flex;
    align-items: center;
    gap: 90px;
}

.logo {
    display: block;
    width: 97px;
    height: 30px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    display: flex;
    gap: 55px;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--dark);
    position: absolute;
    margin-top: 10px;
    transition: width var(--tr) ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.mail {
    font-size: 16px;
    font-weight: 700;
    position: relative;
}

.mail::before {
    content: "";
    width: 25px;
    height: 25px;
    background: var(--yellow);
    border-radius: 100%;
    position: absolute;
    left: -14px;
    top: calc(50% - 13px);
    z-index: -999;
}

.title-h1 {
    font-size: clamp(26px, 4.5vw ,48px);
    line-height: 1.25;
    letter-spacing: 3%;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.title-h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 42px;
    margin-bottom: 21px;
}

.title-h2 span:first-child {
    margin-right: 20px;
}

.description {
    font-size: clamp(16px, 5vw ,18px);
    line-height: 1.5;
}

.btn {
    display: block;
    box-sizing: border-box;
    max-width: 253px;
    padding: 23px 30px;
    background: var(--yellow);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3%;
    text-transform: uppercase;
    transition: var(--tr);
}

.btn:hover {
    background: var(--dark);
    color: var(--yellow);
}

/* Hero */

.section-hero {
    margin-top: 3px;
}

.hero {
    display: flex;
    align-items: center;
    position: relative;
}

.hero-text {
    flex-basis: 59.3%;
}

.wrap-description {
    margin-left: 91px;
}

.description-hero {
    max-width: 297px;
    margin-bottom: 34px;
}

.hero-bg {
    margin-top: 10px;
    height: clamp(493px, 50vw, 847px);
    flex-basis: calc(100% - 59.3%);
    background: linear-gradient(90deg, #fbf138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.2;
}

.women-bg {
    position: absolute;
    right: -9.65vw;
    bottom: 0;
    width: clamp(339px, 58vw, 996px);
}

@media (max-width: 1500px) {
    .women-bg {
        right: -5vw;
    }
}

@media (max-width: 1300px) {
    .women-bg {
        right: 5px;
    }
}