@font-face {
	font-family: "Montserrat";
	src: 
    local("Montserrat Regular"),
    local("Montserrat-Regular"),
    url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"),
    url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src:
    local("Montserrat Bold"),
    local("Montserrat-Bold"),
    url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"),
    url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

:root {
    --font-montserrat: "Montserrat", sans-serif;

    --dark: #2B3541;
    --gray: #F3F3F3;
    --yellow: #FBF138;
    --light: #FEFCFE;
    --gradient: linear-gradient(180deg, #fbf138 0%, rgba(253, 249, 182, 0.45) 100%);

    --tr: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-montserrat);
    font-size: 18px;
    color: var(--dark);
    background-color: var(--light);
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--tr);
}

button {
    border: none;
}

.main {
    padding-top: 35px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

header .container {
    max-width: 1200px;
}

.header,
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header {
    border: solid 1px var(--light);
    width: calc(100% - 30px);
    max-width: 1170px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: var(--light);
    margin: 0 auto;
    padding: 15px 15px;
    position: fixed;
    z-index: 9999;
    transition: var(--tr);
}

.header.scroll {
    border: solid 1px var(--dark);
}

.header-wrap,
.footer-wrap {
    display: flex;
    align-items: center;
}

.header-wrap {
    gap: 90px;
}

.logo {
    display: block;
    width: 97px;
    height: 30px;
    background-image: url(../images/icons/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    display: flex;
    gap: 55px;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--dark);
    position: absolute;
    margin-top: 10px;
    transition: width var(--tr) ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.mail {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: var(--tr);
}

.mail::before {
    content: "";
    width: 25px;
    height: 25px;
    background: var(--yellow);
    border-radius: 100%;
    position: absolute;
    left: -14px;
    top: calc(50% - 13px);
    z-index: -999;
    box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.3);
}

.title-h1 {
    font-size: clamp(25px, 3.38vw ,48px);
    line-height: 1.25;
    letter-spacing: 3%;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.title-h2 {
    font-size: clamp(26px, 3vw, 40px);
    font-weight: 400;
    line-height: 1.25;
    margin-top: 42px;
    margin-bottom: 21px;
}

.title-h2 span:first-child {
    margin-right: 20px;
}

.title-h3 {
    font-size: clamp(26px, 6vw ,40px);  /* потом скорректировать среднее значение */
    line-height: 1.25;
    margin: 0;
}

.title-h4 {
    font-size: clamp(14px, 2.084vw ,18px);
    line-height: 1.25;
    font-weight: 700;
    margin-top: 36px;
    margin-bottom: 0;
}

.description {
    font-size: clamp(16px, 2vw ,18px);
    line-height: 1.5;
}

.text {
    font-size: clamp(14px, 2.084vw, 18px);
    line-height: 1.5;
    margin: 0;
}

.btn {
    display: block;
    box-sizing: border-box;
    max-width: 253px;
    padding: 23px 30px;
    background: var(--yellow);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--dark);
    cursor: pointer;
    transition: var(--tr);
    box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.3);
}

.btn:hover {
    background: var(--dark);
    color: var(--yellow);
    box-shadow: 0 13px 24px 0 rgba(70, 86, 106, 0.2);
}

.btn-burger {
    background: transparent;
    border: none;
    display: none;
    width: 29px;
    height: 22px;
    background-image: url(../images/icons/burger-menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

/* Hero */

.section-hero {
    margin-top: 65px;
}

.hero {
    display: flex;
    align-items: center;
    position: relative;
}

.hero-text {
    flex-basis: 59.3%;
}

.wrap-description {
    margin-left: 91px;
}

.description-hero {
    max-width: 297px;
    margin-bottom: 34px;
}

.hero-bg {
    margin-top: 10px;
    height: clamp(493px, 50vw, 847px);
    flex-basis: calc(100% - 59.3%);
    background: linear-gradient(90deg, #fbf138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.2;
}

.women-bg {
    position: absolute;
    right: -9.65vw;
    bottom: 0;
    width: clamp(401px, 58vw, 996px);
}

.btn-down {
    display: block;
    width: 52px;
    height: 55px;
    background-image: url(../images/icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    position: absolute;
    left: -1px;
    bottom: -1px;
}

/* Schedule */

.section-schedule {
    padding-top: 160px;
    padding-bottom: 162px;
}

.schedule-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.schedule-title .title-h3 {
    max-width: 300px;
}

.dates {
    font-size: clamp(16px, 4vw ,28px);
    font-weight: 700;
    margin-top: 2px;
}

.schedule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 309px 73px 281px;
    gap: 20px;
}

.schedule-item {
    border: 1px solid rgba(43, 53, 65, .5);
    padding: 19px 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.schedule-item:nth-child(1) {
    grid-row: 1/2;
}

.schedule-item:nth-child(2) {
    grid-row: 2/4;
}

.schedule-item:nth-child(3) {
    grid-row: 1/3;
}

.schedule-item:nth-child(4) {
    grid-row: 3/4;
}

.schedule-item:nth-child(5) {
    grid-row: 1/2;
}

.schedule-item:nth-child(6) {
    grid-row: 2/4;
}

.schedule-item .text {
    opacity: 0.7;
    align-self: flex-end;
}

.schedule-item:nth-child(5) .title-h4 {
    margin-left: 8px;
}

.schedule-item::after {
    content: "";
    background: var(--gradient);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: var(--tr);
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 13px 30px 0 rgba(186, 180, 69, 0.2);
}

.schedule-item:hover {
    border-color: transparent;
}

.schedule-item:hover::after {
    opacity: 0.7;
}

/* Subscribe */

.section-subscribe {
    background: var(--gray);
    padding-top: 80px;
    padding-bottom: 83px; 
}

.subscribe {
    max-width: 638px;
    margin: 0 auto;
}

.subscribe .title-h3 {
    position: relative;
    max-width: 587px;
    margin: 0 auto;
    z-index: 1;
    padding-left: 5px;
    margin-bottom: 39px;
}

.subscribe .title-h3::before {
    content: "";
    width: 53px;
    height: 53px;
    background: var(--yellow);
    border-radius: 100%;
    position: absolute;
    left: -30px;
    top: -18px;
    z-index: -999;
    box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.3);
}

/* Form */

.form {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-left: 21px;
}

.wrap-form {
    flex-basis: calc(100% - 225px - 20px);
}

.wrap-btn {
    flex-basis: 225px;
}

.wrap-btn .btn {
    padding: 25px 43px 22px;
    width: 100%;
}

input[type=email] {
    box-sizing: border-box;
    padding: 19px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
}

input[type=email]::placeholder {
    opacity: 0.3;
}

input[type=email]:focus {
    outline: 1px solid var(--yellow);
}

input[type=email]:invalid {
    outline: 1px solid #ae0303;
}

input[type=email].text {
    font-size: 18px;
}

/* Checkbox */

.agreement .text {
    font-size: 11px;
    color: rgba(43, 53, 65, 0.5);
}

.agreement a,
.footer-bottom a {
    text-decoration: underline;
    transition: var(--tr);
}

.agreement a:hover,
.footer-bottom a:hover {
    color: rgba(43, 53, 65, 1);
}

.checkbox:checked,
.checkbox:not(:checked) {
    position: absolute;
    left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */

.checkbox.checkbox:not(:checked) + label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: calc(50% - 10px);
    background-color: transparent;
    border: 2px solid var(--dark);
}

/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */

.checkbox:checked + label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: calc(50% - 10px);
    background-color: var(--dark);
    border: 2px solid var(--dark);
}

/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 12px;
    background-image: url(../images/icons/transparent_check.svg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 2px;
    top: calc(50% - 6px);
    transition: all .2s ease;
}

/* Стили для псевдоэлемента after с изображением, когда пункт активен */

.checkbox:checked + label::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/check_box.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    left: 1px;
    top: calc(50% - 9px);
    opacity: 1;
    transition: all .2s ease;
}

/* About */

.section-about {
    padding-top: 158px;
    padding-bottom: 151px;
}

.about {
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    margin-bottom: 77px;
}

.about-text {
    flex-basis: 483px;
}

.about-image {
    flex-basis: calc(100% - 483px - 4vw);
    align-self: center;
}

.about-trainer {
    width: 100%;
    max-width: 581px;
}

.about-trainer-tablet {
    display: none;
}

.about-text .title-h3 {
    margin-bottom: 20px;  
}

.about-text .description {
    margin-bottom: 33px;
    font-size: clamp(16px, 2.5vw, 18px);
}

.about-text .btn {
    max-width: 225px;
    padding: 25px 30px 22px;
}

/* Advantages */

.advantages {
    display: flex;
    justify-content: space-between;
    gap: 67px;
}

.advantages-item:nth-child(1) {
    max-width: 231px;
}

.advantages-item:nth-child(2) {
    max-width: 282px;
}

.advantages-item:nth-child(3) {
    max-width: 221px;
}

.advantages-item:nth-child(4) {
    max-width: 204px;
}

.advantages-item .title-h4 {
    font-size: clamp(16px, 2.5vw, 18px);
    margin-top: 0;
    margin-bottom: 21px;
}

.advantages-item .description {
    opacity: 0.6;
}

/* Footer */

.footer {
    background: var(--gray);
    padding-top: 34px;
    padding-bottom: 6px; 
}

.footer-wrap {
    gap: 74px;
}

.footer-wrap .nav {
    gap: 90px;
}

.footer-wrap a {
    font-size: 14px;
}

.footer-top .mail {
    margin-top: 1px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: clamp(10px, 1vw, 14px);
    line-height: 1.5;
    color: rgba(43, 53, 65, 0.3);
}

.copyright:last-child {
    margin-top: 4px;
}

/* Modal */

.modal {
    background-color: var(--gray);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    max-width: 1100px;
    padding-top: 28px;
    padding-bottom: 39px;
    opacity: 0;
    visibility: hidden;
    transition: var(--tr);
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal-logo {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 44px;
}

.btn-close {
    display: block;
    width: 20px;
    height: 19px;
    background-image: url(../images/icons/close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 33px;
    right: 10px;
}

.modal .nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.modal .nav-link::after,
.modal .nav-link:hover::after {
    display: none;
}

.modal .nav-link:not(:last-child) {
    border-bottom: 1px solid rgba(43, 53, 65, .2);
    padding-bottom: 21px;
}


@media (max-width: 1500px) {
    .women-bg {
        right: -5vw;
    }
}

@media (max-width: 1300px) {
    .women-bg {
        right: 6px;
    }
}

@media (max-width: 1110px) {
    .main {
        padding-top: 20px;
    }

    .header {
        padding: 15px 4px;
    }

    .header-wrap {
        gap: 38px;
    }

    .btn-burger {
        display: block;
    }

    .nav {
        display: none;
    }

    .section-hero {
        margin-top: 3px;
    }

    .hero {
        gap: 20px;
    }

    .hero-text {
        flex-basis: 48%;
        margin-bottom: 25px;
    }

    .hero-bg {
        flex-basis: calc(100% - 48% - 20px);
        margin-top: 75px;
    }

    .women-bg {
        max-width: 56%;
    }

    .title-h2 {
        margin-top: 44px;
        margin-bottom: 16px;
    }

    .wrap-description {
        margin-left: 0;
    }

    .description-hero {
        max-width: 280px;
        margin-bottom: 42px;
    }

    .btn-down {
        width: 39px;
        height: 41px;
        bottom: 55px;
        left: 0;
    }

    .section-schedule {
        padding-top: 76px;
        padding-bottom: 96px;
    }

    .schedule-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 224px);
        gap: 20px 10px;
    }

    .schedule-item:nth-child(1) {
        grid-column: 1/2;
    }

    .schedule-item:nth-child(2) {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .schedule-item:nth-child(3) {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .schedule-item:nth-child(4) {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .schedule-item:nth-child(5) {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .schedule-item:nth-child(6) {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .schedule-item {
        padding: 19px 23px 17px 23px;
    }

    .title-h4 {
        margin-top: 29px;
    }

    .section-about {
        padding-top: 90px;
        padding-bottom: 59px;
    }

    .about {
        margin-bottom: 34px;
    }

    .advantages {
        flex-wrap: wrap;
        gap: 0;
    }

    .advantages-item:nth-child(1),
    .advantages-item:nth-child(2),
    .advantages-item:nth-child(3),
    .advantages-item:nth-child(4) {
        width: 50%;
        max-width: none;
    }
}

@media (max-width: 950px) {
    .about {
        gap: 3vw;
    }

    .about-text {
        flex-basis: 43vw;
    }

    .about-text .btn {
        max-width: 214px;
    }

    .about-image {
        flex-basis: calc(100% - 43vw - 3vw);
    }

    .about-trainer,
    .footer-top .mail,
    .copyright:first-child {
        display: none;
    }

    .about-trainer-tablet {
        display: block;
        width: 100%;
        max-width: 382px;
        margin: 0 auto;
    }

    .advantages-item .title-h4 {
        margin-bottom: 13px;
    }

    .advantages-item .description {
        margin-top: 0;
    }

    .footer {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .footer .container {
        display: flex;
        justify-content: space-between;
    }

    .copyright:last-child {
        margin-top: 9px;
    }
}

@media (max-width: 780px) {
    .women-bg {
        max-width: 401px;
    }

    .about-trainer-tablet {
        margin-right: 0;
    }

    .advantages {
        justify-content: flex-start;
        gap: 27px 13.7vw;
    }

    .advantages-item:nth-child(1),
    .advantages-item:nth-child(2),
    .advantages-item:nth-child(3),
    .advantages-item:nth-child(4) {
        max-width: 251px;
        width: 100%;
    }
}

@media (max-width: 670px) {
    .main {
        padding-top: 16px;
    }

    .header {
        padding: 15px 0;
    }

    .logo {
        width: 78px;
        height: 24px;
    }

    .section-hero {
        margin-top: 104px;
    }

    .hero {
        justify-content: center;
    }

    .hero-text {
        flex-basis: 335px;
    }

    .title-h2 {
        margin-top: 42px;
        margin-bottom: 17px;
    }

    .women-bg,
    .hero-bg,
    .btn-down,
    .about-image {
        display: none;
    }

    .btn {
        max-width: 100%;
    }

    .section-subscribe {
        padding-top: 57px;
        padding-bottom: 64px;
    }

    .subscribe .title-h3 {
        max-width: 300px;
        text-align: center;
    }

    .section-about {
        padding-top: 76px;
        padding-bottom: 51px;
    }

    .about {
        justify-content: center;
    }

    .about-text {
        flex-basis: 335px;
    }

    .about-text .title-h3 {
        margin-bottom: 16px;
    }

    .about-text .description {
        margin-bottom: 31px;
    }

    .about-text .btn {
        max-width: 100%;
    }
}

@media (max-width: 620px) {
    .advantages {
        justify-content: center;
        gap: 27px;
    }

    .advantages-item:nth-child(1),
    .advantages-item:nth-child(2),
    .advantages-item:nth-child(3),
    .advantages-item:nth-child(4) {
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 590px) {
    .section-schedule {
        padding-top: 50px;
        padding-bottom: 76px;
    }

    .schedule-title {
        margin-bottom: 19px;
    }

    .schedule-title .title-h3 {
        max-width: 200px;
    }

    .dates {
        margin-top: 11px;
    }

    .schedule-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,114px);
        gap: 20px;
    }

    .schedule-item:nth-child(2) {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .schedule-item:nth-child(3) {
        grid-row: 3/4;
    }

    .schedule-item:nth-child(4) {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .schedule-item:nth-child(5) {
        grid-row: 5/6;
    }

    .schedule-item:nth-child(6) {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    .schedule-item {
        padding: 12px 11px 10px 11px;
    }

    .schedule-item:nth-child(1) img,
    .schedule-item:nth-child(4) img {
        max-width: 39px;
    }

    .schedule-item:nth-child(2) img {
        max-width: 34px;
    }

    .schedule-item:nth-child(3) img {
        max-width: 23px;
    }

    .schedule-item:nth-child(5) img {
        max-width: 46px;
    }

    .schedule-item:nth-child(6) img {
        max-width: 35px;
    }

    .title-h4 {
        margin-top: 5px;
    }

    .schedule-item:nth-child(2) .schedule-wrap {
        position: absolute;
        top: 18px;
    }

    .schedule-item:nth-child(2) .title-h4 {
        margin-top: 8px;
    }

    .schedule-item:nth-child(3) .schedule-wrap {
        position: absolute;
        top: 26px;
    }

    .schedule-item:nth-child(3) .title-h4 {
        margin-top: 7px;
    }

    .schedule-item:nth-child(5) .title-h4 {
        margin-left: 0;
    }

    .subscribe .title-h3::before {
        width: 42px;
        height: 42px;
        left: 2px;
        top: -13px;
    }

    .form {
        flex-direction: column;
        margin-left: 0;
        gap: 34px;
    }

    input[type=email] {
        padding-left: 24px;
        margin-bottom: 6px;
    }

    .wrap-btn {
        flex-basis: auto;
    }

    .wrap-btn .btn {
        max-width: 335px;
        margin: 0 auto;
    }
}

@media (max-width: 450px) {
    .subscribe .title-h3 {
        max-width: 201px;
        padding-left: 0;
    }

    .subscribe .title-h3::before {
        width: 31px;
        height: 31px;
        left: -13px;
        top: -13px;
    }

    .about {
        margin-bottom: 57px;
    }

    .advantages {
        max-width: 223px;
        gap: 23px;
    }

    .advantages-item .title-h4 {
        margin-bottom: 16px;
    }

    .footer {
        padding-top: 8px;
    }

    .copyright:last-child {
        max-width: 173px;
        text-align: right;
        /* margin-top: 9px; */
    }
}